<div class="po-wrapper">
    <po-page-default p-title="Mingle Client Test">
        <div class="po-row">
            <div class="po-xl-4 po-lg-4 po-md-4 po-sm-4">
                <div class="po-row">
                    <po-button p-label="Get Access Token" p-type="primary" (p-click)="getAccessToken()">
                    </po-button>
                </div>
                <hr>
                <div class="po-row">
                    <po-button p-label="Get Body Refresh Token" p-type="primary" (p-click)="refreshToken()">
                    </po-button>
                </div>
            </div>
            <div class="po-xl-6 po-lg-6 po-md-6 po-sm-6">
                <po-textarea #boxUrl
                p-label="{{label}}"
                [(ngModel)]="data"
                [ngModelOptions]="{standalone: true}">
              </po-textarea>
              <po-button
              class="po-offset-lg-4 po-offset-xl-4 po-lg-2"
              p-icon="po-icon-copy"
              p-label="Copy"
              (click)="copyToClipboard()"
            >
            </po-button>
            </div>
        </div>

    </po-page-default>
    
</div>
<app-menu></app-menu>